<aside class="sidebar filters">
  <section class="panel">
      <p class="results">
  {{localize 'CharacterGallery.FoundPart1'}}
  <span class="count">{{resultsCount}}</span>
  {{localize 'CharacterGallery.FoundPart2'}}
</p>
      <search>
          {{!-- Localise this! --}}
          <input type="search" placeholder="{{localize 'CharacterGallery.SearchPlaceholder'}}" autofocus />
      </search>
  </section>
</aside>
entries