<form>
  <p>{{localize "PF2E-TOKEN-PACK.settingsMessage"}}</p>

  <div class="form-group">
    <label>
      <input type="checkbox" id="toggle-check-buttons" />
      {{localize "PF2E-TOKEN-PACK.EnableCheckMode"}}
    </label>
  </div>

  {{#each groups}}
    <h2>{{localize (concat "PF2E-TOKEN-PACK." @key)}}</h2>
    {{#each this}}
      <div class="form-group">
        <label for="{{settingKey}}">{{name}}</label>
        <input type="checkbox" name="{{settingKey}}" {{#if value}}checked{{/if}}>
        <button type="button" class="check-button" data-key="{{key}}" style="display: none;">
          {{localize "PF2E-TOKEN-PACK.CheckButtonLabel"}}
        </button>
        {{#if hint}}<p class="hint">{{hint}}</p>{{/if}}
      </div>
    {{/each}}
  {{/each}}

  <div class="form-group">
    <button type="submit" class="button">{{localize "PF2E-TOKEN-PACK.SaveAndUpdate"}}</button>
  </div>

