<form>
  <div class="form-group">
    <label>
      <input type="checkbox" id="enabled-toggle" checked>
      {{localize "PF2E-TOKEN-PACK.TokenRingManagerEnabled"}} ({{enabledCount}})
    </label>
  </div>
  <div class="form-group">
    <label>
      <input type="checkbox" id="disabled-toggle">
      {{localize "PF2E-TOKEN-PACK.TokenRingManagerDisabled"}} ({{disabledCount}})
    </label>
  </div>
  <button type="button" class="token-ring-apply">
    <i class="fas fa-sync-alt"></i> {{localize "PF2E-TOKEN-PACK.TokenRingManagerRefreshTokens"}}
  </button>
</form>